@model AuthorEditViewModel
@{
    ViewData["Title"] = "Create";
}

<form enctype="multipart/form-data" asp-controller="Authors" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthplace" class="control-label"></label>
        <input asp-for="Birthplace" class="form-control" />
        <span asp-validation-for="Birthplace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input asp-for="Photo" class="form-control custom-file" />
    </div>
    <div class="form-group">
        <input asp-for="oldPhotoPath" type="hidden" class="form-control custom-file" />
    </div>

    <div class="form-group">
        <input type="submit" value="Edit" />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>
